# package directories
node_modules
.env
jspm_packages
.serverless
coverage
*.csv

# Elastic Beanstalk Files
.elasticbeanstalk
.ebextensions
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml